[Unit]
Description=Consul
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill consul
ExecStartPre=-/usr/bin/docker rm consul
ExecStartPre=/usr/bin/docker pull {{ consul_image }}

ExecStart=/usr/bin/bash -c "/usr/bin/docker run --rm --name consul \
-v {{ consul_data_dir }}:/data \
-v {{ consul_config_dir }}:/config \
-v /var/run/docker.sock:/var/run/docker.sock \
-p {{private_ipv4}}:8600:8600/udp \
-p {{private_ipv4}}:8500:8500/tcp \
{{ consul_image }}"

ExecStop=/usr/bin/docker stop consul

[Install]
WantedBy=multi-user.target
