{
  "server": true,
  "rejoin_after_leave": true,
  "leave_on_terminate": false,
  "bootstrap" : true,
  "domain": "{{ consul_dns_domain }}",
  "data_dir": "/data",
  "datacenter": "{{ availability_zone }}",
  "node_name": "{{ consul_node_name }}",
  "ui": true,
  "client_addr": "{{ consul_client_addr }}"
}
