127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{% for item in groups['all'] %}
{% if hostvars[item].private_ipv4 is defined %}
{{ hostvars[item].private_ipv4 }} {{ item }}
{% endif %}
{% endfor %}
