{
  "service": {
    "name": "mesos-master",
    "port": {{ mesos_master_port }},
    "tags": [ "mesos"  ],
    "check": {
      "script": "curl --silent --show-error --fail --dump-header /dev/stderr --retry 2 http://{{ inventory_hostname }}:{{ mesos_master_port  }}/master/health",
      "interval": "10s",
      "timeout": "3s"
    }
  }
}
