[Unit]
Description=vault for consul
After=consul.service
Requires=consul.service

[Service]
User=core
ExecStartPre=-/usr/bin/docker kill vault
ExecStartPre=-/usr/bin/docker rm vault
ExecStartPre=-/usr/bin/docker pull sjourdan/vault:latest
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name vault \
        --cap-add IPC_LOCK \
        --volume {{ vault_config_dir }}:/config \
        sjourdan/vault server -config=/config/consul.hcl"
ExecStop=/usr/bin/docker kill vault

[Install]
WantedBy=multi-user.target
