{
  "service": {
    "name": "zookeeper",
    "port": {{ zookeeper_client_port }},
    "address": {{ private_ipv4 }},
    "tags": [ "zookeeper" ],
    "check": {
      "docker_container_id": "zookeeper",
      "shell": "/bin/bash",
      "script": "echo ruok | nc 127.0.0.1 {{ zookeeper_client_port }} | grep imok",
      "interval": "10s",
      "timeout": "3s"
    }
  }
}
