[Unit]
Description=zookeeper
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill zookeeper
ExecStartPre=-/usr/bin/docker rm zookeeper
ExecStartPre=/usr/bin/docker pull {{ zookeeper_image }}

ExecStart=/usr/bin/bash -c "/usr/bin/docker run --rm --name zookeeper \
--net=host \
-p 2181:2181 \
-p 2888:2888 \
-p 3888:3888 \
{{ zookeeper_image }}"

ExecStop=/usr/bin/docker stop zookeeper

[Install]
WantedBy=multi-user.target
