[Unit]
Description=webproxy for consul
After=consul.service
Requires=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill webproxy
ExecStartPre=-/usr/bin/docker rm webproxy
ExecStartPre=-/usr/bin/docker pull mnbbrown/webproxy:latest
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name webproxy \
        -v /etc/ssl/private:/etc/ssl/private \
        -e "CLUSTER_DOMAIN={{ cluster_domain }}" \
        -e "SERVICE_80_IGNORE=yes" \
        -e "SERVICE_443_IGNORE=yes" \
        -e "SERVICE_NAME=webproxy" \
        -p 80:80 -p 443:443 \
        mnbbrown/webproxy:latest"
ExecStop=/usr/bin/docker kill webproxy

[Install]
WantedBy=multi-user.target
