[Unit]
Description=dnsmasq
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
TimeoutStartSec=0
EnvironmentFile=/etc/environment
# make sure /etc/systemd/resolved.conf.d dir exists so we can add dnsmasq's DNS resolver to system
ExecStartPre=/usr/bin/mkdir -p /etc/systemd/resolved.conf.d
ExecStartPre=-/usr/bin/docker kill dnsmasq
ExecStartPre=-/usr/bin/docker rm dnsmasq
ExecStartPre=-/bin/bash -c 'rm /etc/systemd/resolved.conf.d/00-dnsmasq-dns.conf && systemctl restart systemd-resolved'
ExecStartPre=/usr/bin/docker pull {{ dnsmasq_image }}

ExecStart=/usr/bin/bash -c "/usr/bin/docker run --rm --name dnsmasq \
--cap-add=NET_ADMIN \
--net=host \
-v {{ dnsmasq_config_dir }}:/etc/dnsmasq.d/ \
-p 53:53/udp \
-p 53:53/tcp \
{{ dnsmasq_image }} --conf-dir=/etc/dnsmasq.d --log-queries --log-facility=-"

ExecStartPost=/bin/sh -c "sleep 1; echo -e \"[Resolve]\nDNS={{private_ipv4}}\" > /etc/systemd/resolved.conf.d/00-dnsmasq-dns.conf && systemctl restart systemd-resolved"

ExecStop=/usr/bin/docker stop dnsmasq
ExecStopPost=/bin/sh -c 'rm /etc/systemd/resolved.conf.d/00-dnsmasq-dns.conf && systemctl restart systemd-resolved'

[Install]
WantedBy=multi-user.target
